extends layout

block content
  h1=title

  ul
    each note in note_list
      li
        a(href=note.url) #{note.summary}
        p(style="margin-left: 15px") #{note.message}
        p(style="margin-left: 15px") Created by: #[a(href='/users/'+note.createdby._id) #{note.createdby.name}] on #[ #{note.created}]
