extends layout

block content
  h2=title 

  p(style="margin-left: 15px") Title: #{note.summary}
  p(style="margin-left: 15px") Summary: #{note.message}
  p(style="margin-left: 15px") Created by: #[a(href='/users/'+note.createdby._id) #{note.createdby.name}] on #[ #{note.created}]

  hr
  p
    a(href=note._id+'/update') Update Note
  //- p
    a(href=note._id+'/archive') Archive Note
  p
    a(href=note._id+'/delete') Delete Note
  